
## Langchain and Related Libraries
langchain
langgraph
langchain-core
langchain-groq

# Environment Variable Management
python-dotenv

## Database Connectors
langgraph-checkpoint-sqlite

## UI Interface
streamlit